<!DOCTYPE html>
<html lang="en">
<%- include('./partials/_head.ejs') %>
<body>
  <%- include('./partials/_nav.ejs') %>
  
  <section class="section">
    <div class="container">
      <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Address</th>
            <th>Blockchain</th>
          </tr>
        </thead>
        <tbody>
          <% if(searches.length>0) { %>
            <% searches.forEach(search => { %>
              <tr>
                <td><a href="/display/<%= search.address %>"><%= search.address %></a></td>
                <td><%= search.blockchain %></td>
              </tr>
            <% }) %>
          <% } %>
        </tbody>
      </table>
    </div>
  </section>
</body>
</html>